<div class="ng2-simple-dropdown" [class.disabled]="!isEditable" [class.focused]="toggle">
    <div class="ng2-simple-dropdown__input-wrapper">
        <input class="ng2-simple-dropdown__input" [(ngModel)]="value && value.name ? value.name : value" placeholder="{{defaultValue}}" type="text" disabled />
    </div>
    <div *ngIf="toggle && items.length > 0" class="ng2-simple-dropdown__content">
        <div class="ng2-simple-dropdown__content-item" [class.selected]="(value===item)" *ngFor="let item of items; let i = index;" (click)="value=item;">{{ item.name ? item.name : item}}</div>
    </div>
</div>